<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /voyage-2021/
  RewriteRule ^voyage-2021\index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /voyage-2021/index.html [L]
</IfModule>